*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



ul{
    display: flex;
    float: right;
    background-color: gold;
    width: 100%;
    padding: 2% ;    
    font-style: italic;
    font-size: large;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
}
h1{
    margin-right: 40%;
}

